/node_modules
/node_modules/
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
package-lock.json
/package-lock.json
.phpunit.result.cache
database.sqlite
public/watermark/watermark.png
stats.json
modules/*/Config/backup/
.vapor/
packages/cfdigital/ecommerce/vendor/composer/autoload_psr4.php
packages/cfdigital/ecommerce/vendor/
/public/image/load-screen/logo-wide.svg
